<?xml version="1.0"?>
<config>
  <modules>
    <Apollo_OrderManagement>
      <version>1.0.0</version>
    </Apollo_OrderManagement>
  </modules>
  <global>
    <helpers>
      <apollo_ordermanagement>
        <class>Apollo_OrderManagement_Helper</class>
      </apollo_ordermanagement>
    </helpers>
    <models>
      <apollo_ordermanagement>
        <class>Apollo_OrderManagement_Model</class>
      </apollo_ordermanagement>
    </models>
    <events>
      <sales_order_place_after>
        <observers>
          <apollo_ordermanagement>
            <class>apollo_ordermanagement/observer</class>
            <method>onOrderPlaced</method>
            <type>singleton</type>
          </apollo_ordermanagement>
        </observers>
      </sales_order_place_after>
      <sales_order_save_after>
        <observers>
          <apollo_ordermanagement>
            <class>apollo_ordermanagement/observer</class>
            <method>onOrderSaved</method>
            <type>singleton</type>
          </apollo_ordermanagement>
        </observers>
      </sales_order_save_after>
    </events>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <apollo_ordermanagement_options>
                      <title>Apollo</title>
                    </apollo_ordermanagement_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>